*{
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body{ 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./public/black-hole.jpg') center no-repeat;
  background-size: cover;

}

.calculator{
  /* box-sizing: border-box; */
  display: inline-block;
  box-shadow: #8a8a8a 3px 3px 8px;
  overflow: hidden;
  border-radius: 3px;
}

.calculator .button {
  border:none;
  border-left: 1px solid #9b8e83;
  border-bottom: 1px solid #9b8e83;
  width: 3.5rem;
  height: 3rem;
  font-weight: 300;
  font-size: 1.4rem;
}

.calculator .button:focus{
  outline:none
}

.calculator .button:active{
  background: #b2b2b2
}

.calculator .output{
  height: 5rem;
  background: #4c4c4c;
  position: relative;
  font-size: 2rem;
}

.calculator .output span{ 
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
  color: white; 
}
.calculator .text-Clear{
width: 10.5rem;
}

.calculator .text-0{
width: 7rem;
}

.calculator .button{
  background: #e0e0e0;
}

 .row .button:last-child{
   color: white;
  background: #f79232
}
